<!DOCTYPE HTML>
<html>

<head>
    <title>Cure.Fit</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="navbar">

        <ul>
            <li style="float: left"><a href=""> ICON </a></li>
            <div class="center">
                <li><a href=""> ONE </a></li>
                <li><a href=""> TWO </a></li>
                <li><a href=""> THREE </a></li>
            </div>
            <li style="float:right"><a href=""> ICON </a></li>
        </ul>

    </div>