<%-include('partials/header')%>

<!-- FIRST -->
<div class="container light-container">
    <div class="text text-left">
        <h1>eat.fit</h1>
        <p>
            A great day begins and ends with good food. 
            Healthy and wholesome meals prepared fresh and 
            delivered to your doorsteps.
        </p>
        <a href="#" class="button">Learn More</a>
        <table cell-spacing="30">
            <tr>
                <td><img src="images/breakfast (2).png"></td>
                <td> <a href="#"> <img src="images/chicken.png"> </a></td>
                <td><img src="images/hamburger.png"></td>
                <td><img src="images/food.png"></td>
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                <td>breakfast</td>
                <td>lunch</td>
                <td>snacks</td>
                <td>dinner</td>
            </tr>

        </table>
    </div>




    <img
    src="https://cdn-cloudinary.cure.fit/www-curefit-com/image/upload/w_700,ar_0.95,fl_progressive,f_auto,q_auto/dpr_1/image/clp/eat3x.jpg"
    alt="food">
</div>

<!-- SECOND -->

<div class="container dark-container">
    <div class="text text-right">
        <h1>cult.fit</h1>
        <p>
            We are all about a healthier tomorrow.A mix of
            various group workouts and routines that cater to
            your fitness needs.
        </p>
        <a href="#" class="button">Learn More</a>
        <table cell-spacing="30">
            <tr>
                <td><img src="images/breakfast (2).png"></td>
                <td> <a href="#"> <img src="images/chicken.png"> </a></td>
                <td><img src="images/hamburger.png"></td>
                <td><img src="images/food.png"></td>
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                <td>breakfast</td>
                <td>lunch</td>
                <td>snacks</td>
                <td>dinner</td>
            </tr>

        </table>
    </div>




    <img
        src="https://cdn-cloudinary.cure.fit/www-curefit-com/image/upload/w_700,ar_0.95,fl_progressive,f_auto,q_auto/dpr_1/image/home/cult-banner-v5.jpg"
        alt="fitness">
</div>



<%-include('partials/footer')%>